ul.pagination {
  max-width: 1710px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.movie-pagination {
  background-color: #0a0e17;
}
a.pagination_link:hover {
  color: #fff !important;
  background: #007bff;
  border-color: #007bff;
}
.pagination > .active > a {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.pagination > li > a {
  position: relative;
  display: block;
  padding: 0px 15px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 46px;
  margin: 0 5px;
  color: #fff !important;
  background: #182031;
  border-color: #182031;
  z-index: 1;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
a.pagination_link {
  width: auto !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #007bff;
  border-color: #007bff;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #fff;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
@media (max-Width:1199px) {
  .tv .container-fluid{
    max-width: 960px;
  }
  
}