nav.navbar {
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: #0a0e17a6;
}
.container-fluid {
  max-width: 1710px;
}
.navbar-brand img {
  height: 50px;
}
.nav-links li:hover > ul.dropdown-menu {
  display: block;
}
.nav-link {
  padding: 28px 1rem !important;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-menu > li:first-child,
.dropdown-menu > li:first-child .dropdown-item {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu[data-mdb-popper] {
  top: 0;
  margin-top: 100px;
}
.dropdown-menu-end[data-mdb-popper] {
  right: 10%;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}
a.nav-link {
  color: #fff !important;
}
a.nav-link:hover {
  color: #3f9fff !important;
}
.navbar-collapse {
  justify-content: flex-end;
}
a.active {
  color: #3f9fff !important;
}
ul.dropdown-menu {
  background: #182031;
}
ul.dropdown-menu.dropdown-submenu.dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-item {
  color: #fff !important;
  padding: 10px 15px !important;
}
.navbar .menu {
  flex: 0 0 70%;
  max-width: 70%;
  justify-content: flex-end;
  width: 100%;
}
.dropdown-item:hover {
  background-color: #3f9fff !important;
}
i.fa.fa-search {
  color: #fff;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.nav-links li a {
  text-decoration: none;
}
.nav-links li {
  list-style: none;
}
.icons {
  align-items: center;
  justify-content: space-between;
  width: 14%;
}
#search-input {
  color: black;
  width: 100%;
  float: left;
  font-size: 16px;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  outline: none;
}
.input-group {
  top: 0;
  width: 350px;
  padding: 15px;
}
.btn-primary {
  color: #fff;
  border-radius: 0 !important;
  background-color: #3f9fff !important;
}
.User {
  background: #3f9fff;
  padding: 16px 17px;
  border-radius: 25px;
}
i.fa.fa-user {
  margin-right: 0;
  color: #fff;
}
.btn {
  padding: 13px 8px 10px !important;
}
button.btn.btn-primary {
  letter-spacing: 2px;
  font-size: 15px;
}
button {
  font-size: 20px;
  border: none;
  padding: 10px 10px;
  color: #fff;
  background: #3f9fff;
}
.mobile-menu-icon {
  display: none;
}
.gen-submenu-icon {
  font-size: 12px;
  padding-left: 4px;
  color: #ffffff;
  opacity: 0.3;
}
@media (max-width: 1199px) {
  .site-logo {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .navbar .menu {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .icons {
    width: 100%;
    flex: 0 0 15%;
    max-width: 15%;
    justify-content: flex-end;
  }
  .search a.me-3 {
    margin-right: 0 !important;
  }
  .User {
    margin: 0 15px;
  }
  .nav-links {
    justify-content: flex-end;
    width: 100%;
  }
  .nav-links li {
    flex: 0 0 15%;
    max-width: 15%;
    margin: 0 2px;
  }
  .nav-links li a {
    padding: 10px 5px !important;
    display: inline-block;
    width: auto;
    position: relative;
  }
  .gen-submenu-icon {
    position: absolute;
    top: 18px;
    right: -18px;
    font-size: 8px;
  }
  .navbar-brand {
    display: inline-block;
    width: 100%;
  }
  .navbar-brand img {
    width: 100%;
    object-fit: contain;
  }
  i.fa.fa-search {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .navbar .menu {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .nav-links li {
    flex: 0 0 20%;
    max-width: 20%;
    margin: 0 2px;
  }
  .User {
    padding: 13px 14px;
  }
}
@media (max-width: 992px) {
  .nav-links li a {
    padding: 10px 5px !important;
    font-size: 14px;
  }
  .nav-links {
    padding-left: 0;
  }
  .nav-links li {
    margin: 0 7px 0 0;
  }
  .User {
    padding: 8px 10px;
    margin: 0 5px;
  }
  .sub-btn button.btn.btn-primary {
    letter-spacing: 1px;
    font-size: 12px;
  }
  .gen-submenu-icon {
    right: -14px;
  }
  .navbar .menu {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .nav-links li {
    flex: 0 0 15%;
    max-width: 15%;
  }
  .icons {
    flex: 0 0 20%;
    max-width: 20%;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background: #182031;
    box-shadow: 0px 5px 15px 0px rgb(0 33 85 / 10%);
    max-height: 330px;
    overflow-x: hidden;
    padding-left: 0;
  }
  .nav-links ul li {
    padding: -8px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: start;
  }
  .mobile-menu-icon {
    padding: 10px 15px;
    position: absolute;
    display: block;
    right: 15px;
    top: 30px;
  }
  .navbar-brand img {
    height: 40px;
  }
  .nav-link {
    padding: 21px !important;
  }
  .navbar-brand {
    display: inline-block;
  }
  .navbar-brand img {
    height: auto;
    width: 100%;
    object-fit: contain;
  }
  .site-logo {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .icons {
    width: 100%;
    flex: 0 0 38%;
    max-width: 38%;
    justify-content: center;
  }
  .icons .User {
    margin: 0 15px;
    padding: 12px 16px;
  }
  i.fa.fa-search {
    font-size: 20px;
  }
  .sub-btn {
    margin-right: 20px;
  }
  .navbar .menu {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .gen-submenu-icon {
    padding-right: 35px;
  }
}
@media (max-width: 767px) {
  .mobile-menu-icon {
    padding: 9px 15px;
    top: 29px;
  }
  .icons {
    flex: 0 0 40%;
    max-width: 40%;
    margin-right: 50px;
    justify-content: flex-end;
  }
  .nav-link {
    padding: 10px !important;
  }
  .gen-submenu-icon {
    padding-right: 35px;
  }
  ul.search li {
    padding: -3px;
  }
}
@media (max-width: 575px) {
  .site-logo {
    flex: 0 0 35%;
    max-width: 35%;
  }
  .navbar-brand.mt-2 {
    margin-top: 0 !important;
  }
  .navbar-brand {
    margin-right: 0 !important;
  }
  .icons {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .navbar .menu {
    flex: 0 0 10%;
    max-width: 10%;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background: #182031;
    box-shadow: 0px 5px 15px 0px rgb(0 33 85 / 10%);
    max-height: 330px;
    overflow-x: hidden;
    padding-left: 0;
  }
  .navbar-brand img {
    height: 40px;
  }
  .nav-links ul li {
    padding: 10px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: start;
  }
  .mobile-menu-icon {
    padding: 8px 15px;
    right: 15px;
    top: 30px;
  }
  .nav-links-mobile li:hover > ul.dropdown-menu {
    display: none;
  }
  .nav-link {
    padding: 8px !important;
  }
  .sub-btn {
    display: none;
  }
  .gen-submenu-icon {
    padding-right: 35px;
  }
  .nav-link {
    padding: 14px 1rem !important;
  }
  ul li {
    padding: 0;
  }
}
